// 系列颜色示例
// lighten(#cc3, 10%) // #d6d65c
// darken(#cc3, 10%) // #a3a329
// grayscale(#cc3) // #808080
// complement(#cc3) // #33c

// 组件定制主题
// $primary-color: #ae7bff; // 全局主色
$primary-color: #00bebe; // 全局主色
$success-color: #92ce22; // 全局主色
$warning-color: #ff8823; // 全局主色
$error-color: #ee5e37; // 全局主色

/* -- 颜色 -- */
/* 通用 */
$Color__background: #f5f6f7; // 全局背景主色
$Color__background-menu: darken($Color__background, 5%); // 侧边菜单栏主色
$Color__border: #e8e8e8; // 全局边框通用色系
$Color__title: rgba(#040a29, .85);
$Color__subTitle: rgba(#040a29, .75);
$Color__text: rgba(#040a29, .65);
$Color__auxiliary-text: rgba(#040a29, .5);
$Color__disabled-text: rgba(#040a29, .25);

// 布局
$Color__layout-header-shadow: darken($Color__background, 5%);
$Color__layout-footer-shadow: darken($Color__background, 5%);
$Color__layout-border-shadow: darken($Color__background, 20%);
$Color__layout-header-active: darken($Color__background, 1%);
$Color__layout-hover: #f2f3f4;

/* -- 字体 -- */
/* 通用 */
$FontSize__title: 18px;
$FontSize__subTitle: 16px;
$FontSize__default: 14px;

// 全局头部
$FontSize__header-title: 30px; 


/* -- 宽高 -- */
/* 通用 */
$Height__line-height-32: 32px;
$Height__line-height-40: 40px;


/* -- 全局样式类 -- */
#nprogress .bar {
	background: $primary-color;
}

.tip {
    color: $Color__auxiliary-text;
}

.num {
    color: #35aadc;
    font-style: normal;
	font-weight: 600;
    margin: 0 3px;
}

.red {
    color: #ff4e49;
}

.lh-32 {
    line-height: $Height__line-height-32!important;
}

.lh-40 {
    line-height: $Height__line-height-40!important;
}